<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<stringAttribute key="workspace_bundles" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="target_bundles" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-console "/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="automaticAdd" value="true"/>
</launchConfiguration>
