<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.rubypeople.rdt.launching.LaunchConfigurationTypeRubyApplication">
<stringAttribute key="org.rubypeople.rdt.launching.FILE_NAME" value="test_class.rb"/>
<stringAttribute key="org.rubypeople.rdt.launching.WORKING_DIRECTORY" value="C:\Documents and Settings\Owner\workspace\RubyTest"/>
<stringAttribute key="org.rubypeople.rdt.launching.SELECTED_INTERPRETER" value="Ruby Interpreter"/>
<stringAttribute key="org.rubypeople.rdt.launching.PROJECT_NAME" value="RubyTest"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.rubypeople.rdt.debug.ui.rubySourceLocator"/>
</launchConfiguration>
